{% extends "base.html" %}

{% block body %}
    <div class="container">
        <form method="POST"> {% csrf_token %}
            {#    <table class="table table-striped table-bordered table-hover table-nonfluid">#}
            <table class="table table-striped table-bordered table-hover">
                {{ form.as_table }}
            </table>
            <div style="text-align:center">
                {% if project %}
                    {#                    <button class="btn btn-default" type="submit" name="id"#}
                    {#                            onclick="location.href='{% url 'edit_project' project.pk %}'">Submit#}
                    {#                    </button>#}
                    <button type="submit" class="btn btn-primary" name="id" style="margin-right: 5px"
                            onclick="location.href='{% url 'new_project' project.pk %}'">Submit
                    </button>
                    <button type="button" class="btn btn-secondary"
                            onclick="location.href='{% url 'project_sessions' project.pk %}'">
                        Cancel
                    </button>
                    {#                    <a class="btn btn-default" href="{% url 'project_sessions' project.pk %}">Cancel</a>#}
                {% else %}
                    {#    <button class="btn btn-default" type="submit" name="id" onclick="location.href='{% url 'new_project' %}'">Submit</button>#}
                    {#    <a class="btn btn-default" href="{% url 'home_projects' %}">Cancel</a>#}
                    <button type="submit" class="btn btn-primary" name="id" style="margin-right: 5px"
                            onclick="location.href='{% url 'new_project' %}'">Submit
                    </button>
                    <button type="button" class="btn btn-secondary"
                            onclick="location.href='{% url 'home_projects' %}'">
                        Cancel
                    </button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock body %}
